.home {
    box-shadow: 5px;
    border-radius: 5px;
}

.Town {
    width: 150px;
    bottom: auto;
    left: 20px;
    right: 20px;

    box-shadow: 8px 10px 20px -7px rgba(218,78,78,0.7);
    -webkit-box-shadow: 8px 14px 30px -7px rgba(218,78,78,0.7);
    -moz-box-shadow: 8px 10px 30px -7px rgba(218,78,78,0.7);

}